<div class="container">
  <div class="row" *ngIf="errorState">
    <div class="col-lg-12 text-danger">Please validate the inputs</div>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-5">
      <label>Note title</label>
      <input class="font-weight-bold" [(ngModel)]="note.title" (keyup)="detectChange()">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <button class="btn btn-primary  mt-5">
        <span class="col-lg-12" (click)="addToDo()">Add new item <i class="fas fa-plus"></i></span>
      </button>
    </div>

  </div>
  <div class="row">

      <label class="col-lg-12">ToDo items:</label>
    <div class="col-lg-12 mt-3" *ngFor="let note of note.items; let i = index">
      <input class="col-lg-10" [(ngModel)]="note.title" (keyup)="detectChange()"> <i class="col-lg-2 fas fa-minus text-danger"(click)="deleteToDo(i)"></i>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-6">
      <button class="btn btn-primary mt-5" (click)="saveAndGoToHomepage()">Save note</button>
    </div>
  </div>
</div>


